{% extends "base.html.twig" %}

{% block title %}Login Example{% endblock %}
{% block main %}
    <h1>Login Example</h1>
    <p class="lead">Authentication with username and password.</p>

    <h2>GET /</h2>
    <p>This is the main page. Use it to access other parts of the example.</p>

    <div class="list-group">
        <a href="{{ url_for("/main") }}" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <i class="bi bi-shield-lock" style="font-size: 2em"></i>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">GET /main</h6>
                    <p class="mb-0 opacity-75">The main page which is only accessible after a successful login.</p>
                </div>
            </div>
        </a>
        <a href="{{ url_for("/login") }}" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <i class="bi bi-door-open" style="font-size: 2em"></i>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">GET /login</h6>
                    <p class="mb-0 opacity-75">The login page to submit e-mail address and password.</p>
                </div>
            </div>
        </a>
        <a href="{{ url_for("/logout") }}" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <i class="bi bi-door-closed" style="font-size: 2em"></i>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">GET /logout</h6>
                    <p class="mb-0 opacity-75">Perform a logout.</p>
                </div>
            </div>
        </a>
        <a href="{{ url_for("/createdb") }}" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <i class="bi bi-tools" style="font-size: 2em"></i>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">GET /createdb</h6>
                    <p class="mb-0 opacity-75">Create the database "login_example" with a table "user" and two users
                        called "user1@email.com" and "user2@email.com", each with the password "geheim".</p>
                </div>
            </div>
        </a>
        <a href="{{ url_for("/passwordhash") }}" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <i class="bi bi-hash" style="font-size: 2em"></i>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">GET /passwordhash</h6>
                    <p class="mb-0 opacity-75">Enter a password, choose a hashing algorithm and examine the generated
                        password hash.</p>
                </div>
            </div>
        </a>
    </div>
{% endblock main %}
